<?xml version="1.0" encoding="UTF-8"?>
<beans>

    <bean id="userDao" class="bdbk.springframework.test.bean.UserDao">
        <property name="name" value="userDao"/>
    </bean>

    <bean id="userService" class="bdbk.springframework.test.bean.UserService">
        <property name="age" value="18"/>
        <property name="name" value="mike"/>
        <property name="userDao" ref="userDao"/>
    </bean>

</beans>
